/* Global style */
@media screen and (min-width: 768px) {
  .visible_mobile {
    display: none; } }

.visible_desktop {
  display: none; }
  @media screen and (min-width: 768px) {
    .visible_desktop {
      display: block; } }

.survey-step_7.survey-campaign .survey-campaign-steps-container {
  margin-bottom: 0; }
.survey-step_7.survey-campaign .progress-and-submit-container .btn.survey-submit {
  display: block; }
.survey-step_7.survey-campaign .progress-and-submit-container .btn.start-again, .survey-step_7.survey-campaign .progress-and-submit-container .btn.btn-previous, .survey-step_7.survey-campaign .progress-and-submit-container .btn.btn-next {
  display: none; }
.survey-step_7.survey-campaign .progress-and-submit-container .progress {
  display: none; }
.survey-step_7.survey-campaign .survey-campaign-form {
  margin: 15px auto 0;
  background: #000000; }
.survey-step_7.survey-campaign .black {
  margin: 0;
  position: relative;
  padding: 1px 20px 103px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .survey-step_7.survey-campaign .black {
      padding: 1px 0 10px; } }
  .survey-step_7.survey-campaign .black .element-group {
    margin: 0 0 15px; }
    .survey-step_7.survey-campaign .black .element-group:not(.center-aligned) {
      width: 100%;
      transform: translateX(-50%);
      left: 50%;
      position: relative; }
      @media screen and (min-width: 1025px) {
        .survey-step_7.survey-campaign .black .element-group:not(.center-aligned) {
          width: 820px; } }
    .survey-step_7.survey-campaign .black .element-group.center-aligned {
      margin: 0 auto 45px;
      max-width: 356px;
      display: block; }
      @media screen and (min-width: 768px) {
        .survey-step_7.survey-campaign .black .element-group.center-aligned {
          max-width: 400px; } }
    .survey-step_7.survey-campaign .black .element-group.inline-checkbox {
      margin-bottom: 50px; }
      .survey-step_7.survey-campaign .black .element-group.inline-checkbox .controls {
        display: flex;
        flex-direction: row; }
      .survey-step_7.survey-campaign .black .element-group.inline-checkbox label {
        flex: 0 0 auto; }
      .survey-step_7.survey-campaign .black .element-group.inline-checkbox div.error-message {
        border: 1px solid #ffffff;
        padding-top: 10px;
        padding-bottom: 10px; }
      .survey-step_7.survey-campaign .black .element-group.inline-checkbox p.error-message {
        max-width: 400px;
        background: url(../img/icons/exclamation-black.png) no-repeat 98.5% 6px #ffffff; }

.survey-campaign-form {
  position: relative;
  overflow: hidden; }
.survey-campaign-section.black {
  margin-top: 15px;
  padding: 50px 0 56px; }
.survey-campaign .register-thanks-cont .thankyou {
  padding: 5px 0;
  margin: 0;
  width: 100%; }
.survey-campaign .register-thanks-cont h2 {
  font-size: 30px;
  line-height: 33px;
  font-family: 'sofia_problack'; }
.survey-campaign .register-thanks-cont p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'sofia_prolight'; }
.survey-campaign .register-thanks-cont a {
  text-decoration: underline; }
  .survey-campaign .register-thanks-cont a:hover {
    text-decoration: none; }
.survey-campaign .ajax-loader {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }
  .survey-campaign .ajax-loader img {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, 0); }
.survey-campaign .seperator-small {
  text-align: center; }
.survey-campaign .center-aligned {
  display: table;
  width: auto;
  margin: 0 auto; }
.survey-campaign div:not(.black) textarea {
  background: transparent;
  border: 1px solid #000000;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  display: block;
  padding: 5px;
  margin: 0 auto;
  color: #000000;
  box-sizing: border-box; }
.survey-campaign .checkbox {
  background: transparent;
  border: 1px solid;
  border-color: #000000;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0 10px 0 0;
  clear: both; }
  .survey-campaign .checkbox + label + .element-label {
    font-family: 'sofia_prolight';
    color: #000000;
    min-height: 30px;
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    align-items: center; }
  .survey-campaign .checkbox.checked:before {
    content: "";
    display: block;
    width: 6px;
    height: 16px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 11px;
    margin-top: 3px; }
  .survey-campaign .checkbox.checked + label + .element-label {
    font-family: 'sofia_problack'; }
.survey-campaign .black .checkbox {
  border-color: #ffffff;
  margin-left: 10px; }
  .survey-campaign .black .checkbox + label + .element-label {
    color: #ffffff;
    margin-bottom: 0; }
  .survey-campaign .black .checkbox.checked:before {
    border-color: #ffffff; }
.survey-campaign .element-group {
  width: 100%; }
.survey-campaign label {
  font-family: 'sofia_prolight';
  padding: 0; }
  .survey-campaign label.survey-campaign-question {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 39px;
    color: #000000;
    font-family: 'sofia_problack';
    margin-bottom: 20px;
    text-align: center;
    display: block; }
  .survey-campaign label[for="recaptcha"] {
    display: none; }
.survey-campaign input {
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'sofia_prolight';
  font-weight: bold; }
  .survey-campaign input[type="text"], .survey-campaign input[type="email"] {
    width: 100% !important; }
  .survey-campaign input[type="checkbox"], .survey-campaign input[type="radio"] {
    width: auto; }
.survey-campaign fieldset {
  padding: 0; }
.survey-campaign .survey-item .error-message {
  text-align: center; }
.survey-campaign .select-group {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .survey-campaign .select-group select {
    font-size: 12px;
    padding: 7px;
    flex: 1 1 auto;
    width: auto; }
    .survey-campaign .select-group select + select {
      margin-left: 5px; }
.survey-campaign .help-block {
  font-size: 15px; }
  .survey-campaign .help-block a {
    font-family: 'sofia_problack';
    text-decoration: underline; }
    .survey-campaign .help-block a:hover {
      text-decoration: none; }
.survey-campaign-steps {
  display: inline-block;
  position: relative;
  left: 0;
  transition: all .6s ease; }
  .survey-campaign-steps-container {
    box-sizing: content-box;
    text-align: left;
    max-width: 356px;
    width: 100%;
    margin: 0 auto 56px; }
    @media screen and (min-width: 768px) {
      .survey-campaign-steps-container {
        max-width: 570px; } }
  .survey-campaign-steps-group {
    margin: 57px auto 0;
    width: 100%; }
    .survey-campaign-steps-group-item {
      width: 100%;
      display: flex; }
.survey-campaign-slide {
  float: left;
  display: block;
  text-align: left;
  position: relative;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: #ffffff;
  transition: all .6s ease;
  width: auto;
  max-width: 356px;
  min-width: 356px; }
  @media screen and (min-width: 768px) {
    .survey-campaign-slide {
      max-width: 570px;
      min-width: 570px; } }
  .survey-campaign-slide.slide-hidden {
    opacity: 0; }
  .survey-campaign-slide.black {
    background: #000000; }
.survey-campaign .progress-bar-step_0 {
  width: 1%; }
.survey-campaign .progress-bar-step_1 {
  width: calc(100% / 6); }
.survey-campaign .progress-bar-step_2 {
  width: calc(100% / 3); }
.survey-campaign .progress-bar-step_3 {
  width: calc(100% / 2); }
.survey-campaign .progress-bar-step_4 {
  width: calc(100% / 1.5); }
.survey-campaign .progress-bar-step_5 {
  width: calc(100% / 1.2); }
.survey-campaign .progress-bar-step_6 {
  width: calc(100% / 1); }
.survey-campaign .label-important {
  color: #000000;
  border: 0;
  margin: 5px auto 0;
  padding: 7px 10px 7px 15px;
  letter-spacing: 0.05em;
  display: block;
  max-width: 304px;
  box-sizing: border-box;
  background: url(../img/icons/exclamation-black.png) no-repeat 97% center #ffffff; }
.survey-campaign .progress {
  height: 10px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 60px 0 10px;
  overflow: hidden;
  background-color: #ffffff; }
  .survey-campaign .progress-bar {
    float: left;
    height: 100%;
    background-color: #939393;
    transition: width .6s ease; }
.survey-campaign .progress-and-submit-container {
  overflow: visible;
  max-width: 356px;
  width: 100%;
  margin: 0 auto;
  font-family: 'sofia_prolight';
  font-weight: bold;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .survey-campaign .progress-and-submit-container {
      min-width: 570px; } }
  .survey-campaign .progress-and-submit-container .submit-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center; }
  .survey-campaign .progress-and-submit-container .btn {
    display: inline-block;
    width: auto;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px 0 0;
    background: transparent;
    justify-content: center; }
    .survey-campaign .progress-and-submit-container .btn.slide-hidden {
      color: #d7d7d7;
      pointer-events: none;
      cursor: default; }
    .survey-campaign .progress-and-submit-container .btn.start-again {
      display: none; }
    .survey-campaign .progress-and-submit-container .btn.survey-submit {
      display: none;
      position: relative;
      background: transparent;
      border: 1px solid #ffffff !important;
      color: #ffffff;
      font-size: 15px;
      margin: -12px 0 50px;
      padding: 0 !important;
      height: 50px;
      width: 100%;
      box-sizing: border-box;
      max-width: calc(356px - 40px); }
      @media screen and (min-width: 768px) {
        .survey-campaign .progress-and-submit-container .btn.survey-submit {
          max-width: 400px; } }
    .survey-campaign .progress-and-submit-container .btn + .btn {
      border-left: 2px solid #000000;
      padding-left: 10px; }
.survey-campaign .inline-field {
  display: flex;
  flex-direction: row; }
  .survey-campaign .inline-field label {
    flex: 1 1 auto; }
    .survey-campaign .inline-field label.radio-item {
      background: #ffffff;
      border: 1px solid #000000;
      text-align: center;
      color: #000000;
      padding: 17px 0;
      font-size: 16px; }
      .survey-campaign .inline-field label.radio-item:hover, .survey-campaign .inline-field label.radio-item.checked {
        background: #000000;
        color: #ffffff; }
  .survey-campaign .inline-field input[type="radio"] {
    display: none; }
.survey-campaign label.checkbox-item,
.survey-campaign .inline-checkbox label {
  display: none; }
.survey-campaign .inline-checkbox p.error-message,
.survey-campaign .select-group + p.error-message {
  max-width: 400px;
  background: url(../img/icons/exclamation-black.png) no-repeat 98.5% 6px #ffffff; }
.survey-campaign .g-recaptcha > div {
  margin: 45px auto 0; }
