/* Global style */
$step_count : 6;
$gray: #939393;
$light_gray: #d7d7d7;
$white: #ffffff;
$black: #000000;
$slide_width: 570px;
$slide_container_width: 820px;
$slide_width_mobile: 356px;
$breakpoint_ipad: 768px;
$breakpoint_desktop: 1025px;

.visible_mobile {
    @media screen and (min-width: $breakpoint_ipad) {
        display: none;
    }
}

.visible_desktop {
    display: none;

    @media screen and (min-width: $breakpoint_ipad) {
        display: block;
    }
}

.survey-step {
    &_7 {
        &.survey-campaign {
            .survey-campaign-steps-container {
                margin-bottom: 0;
            }
            .progress-and-submit-container {
                .btn {
                    &.survey-submit {
                        display: block;
                    }

                    &.start-again,
                    &.btn-previous,
                    &.btn-next {
                        display: none;
                    }
                }

                .progress {
                    display: none;
                }

            }

            .survey-campaign-form {
                margin: 15px auto 0;
                background: $black;
            }

            .black {
                margin:0;
                position: relative;
                padding: 1px 20px 103px;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                @media screen and (min-width: $breakpoint_ipad) {
                    padding: 1px 0 10px;
                }

                .element-group {
                    margin: 0 0 15px;
                    &:not(.center-aligned) {
                        width: 100%;
                        transform: translateX(-50%);
                        left: 50%;
                        position: relative;
                        @media screen and (min-width: $breakpoint_desktop) {
                            width: $slide_container_width;
                        }
                    }

                    &.center-aligned {
                        margin: 0 auto 45px;
                        max-width: $slide_width_mobile;
                        display: block;

                        @media screen and (min-width: $breakpoint_ipad) {
                            max-width: 400px;
                        }
                    }

                    &.inline-checkbox {
                        margin-bottom: 50px;

                        .controls {
                            display: flex;
                            flex-direction: row;
                        }

                        label {
                            flex: 0 0 auto;
                        }

                        div.error-message {
                            border: 1px solid $white;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }

                        p.error-message {
                            max-width: 400px;
                            background: url(../img/icons/exclamation-black.png) no-repeat 98.5% 6px $white;
                        }
                    }
                }
            }
        }
    }
}

.survey-campaign {
    &-form {
        position: relative;
        overflow: hidden;
    }

    &-section {
        &.black {
            margin-top: 15px;
            padding: 50px 0 56px;
        }
    }

    .register-thanks-cont {
        .thankyou {
            padding: 5px 0;
            margin: 0;
            width: 100%;
        }

        h2 {
            font-size: 30px;
            line-height: 33px;
            font-family: 'sofia_problack';
        }

        p {
            font-size: 16px;
            line-height: 20px;
            font-family: 'sofia_prolight';
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .ajax-loader {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;

        img {
            position: absolute;
            left: 50%;
            bottom: 60px;
            transform: translate(-50%, 0);
        }
    }

    .seperator-small {
        text-align: center;
    }

    .center-aligned {
        display: table;
        width: auto;
        margin: 0 auto;
    }

    div:not(.black) {
        textarea {
            background: transparent;
            border: 1px solid $black;
            width: 100%;
            max-width: 400px;
            min-height: 180px;
            display: block;
            padding: 5px;
            margin: 0 auto;
            color: $black;
            box-sizing: border-box;
        }
    }

    .checkbox {
        background: transparent;
        border: 1px solid;
        border-color: $black;
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        float: left;
        box-sizing: border-box;
        padding: 0;
        margin: 0 10px 0 0;
        clear: both;

        &+label+.element-label {
            font-family: 'sofia_prolight';
            color: $black;
            min-height: 30px;
            margin-bottom: 15px;
            padding: 0;
            display: flex;
            align-items: center;
        }

        &.checked {
            &:before {
                content: "";
                display: block;
                width: 6px;
                height: 16px;
                border: solid $black;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                margin-left: 11px;
                margin-top: 3px;
            }

            +label+.element-label {
                font-family: 'sofia_problack';
            }
        }
    }

    .black {
        .checkbox {
            border-color: $white;
            margin-left: 10px;

            &+label+.element-label {
                color: $white;
                margin-bottom: 0;
            }

            &.checked {
                &:before {
                    border-color: $white;
                }
            }
        }
    }

    .element-group {
        width: 100%;
    }

    label {
        font-family: 'sofia_prolight';
        padding: 0;

        &.survey-campaign-question {
            font-size: 30px;
            letter-spacing: 0;
            line-height: 39px;
            color: $black;
            font-family: 'sofia_problack';
            margin-bottom: 20px;
            text-align: center;
            display: block;
        }

        &[for="recaptcha"] {
            display: none;
        }
    }

    input {
        max-width: 100%;
        box-sizing: border-box;
        font-family: 'sofia_prolight';
        font-weight: bold;

        &[type="text"],
        &[type="email"] {
            width: 100% !important;
        }

        &[type="checkbox"],
        &[type="radio"] {
            width: auto;
        }
    }

    fieldset {
        padding: 0;
    }

    .survey-item {
        .error-message {
            text-align: center;
        }
    }

    .select-group {
        display: flex;
        flex-direction: row;
        width: 100%;

        select {
            font-size: 12px;
            padding: 7px;
            flex: 1 1 auto;
            width: auto;

            &+select {
                margin-left: 5px;
            }
        }
    }

    .help-block {
        font-size: 15px;

        a {
            font-family: 'sofia_problack';
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &-steps {
        display: inline-block;
        position: relative;
        left: 0;
        transition: all .6s ease;

        &-container {
            box-sizing: content-box;
            text-align: left;
            max-width: $slide_width_mobile;
            width: 100%;
            margin: 0 auto 56px;

            @media screen and (min-width: $breakpoint_ipad) {
                max-width: $slide_width;
            }
        }


        &-group {
            margin: 57px auto 0;
            width: 100%;

            &-item {
                width: 100%;
                display: flex;
            }
        }
    }

    &-slide {
        float: left;
        display: block;
        text-align: left;
        position: relative;
        left: 0;
        border: 0;
        margin: 0;
        padding: 0;
        background: $white;
        transition: all .6s ease;
        width: auto;
        max-width: $slide_width_mobile;
        min-width: $slide_width_mobile;

        @media screen and (min-width: $breakpoint_ipad) {
            max-width: $slide_width;
            min-width: $slide_width;
        }

        &.slide-hidden {
            opacity: 0;
        }

        &.black {
            background: $black;
        }
    }

    @for $i from 0 through $step_count {
        .progress-bar-step_#{$i} {
            @if($i==0) {
                width: 1%;
            }

            @else {
                width: calc(100% / #{$step_count/$i});
            }
        }
    }

    .label-important {
        color: $black;
        border: 0;
        margin: 5px auto 0;
        padding: 7px 10px 7px 15px;
        letter-spacing: 0.05em;
        display: block;
        max-width: 304px;
        box-sizing: border-box;
        background: url(../img/icons/exclamation-black.png) no-repeat 97% center $white;
    }

    .progress {
        height: 10px;
        border: 1px solid $black;
        box-sizing: border-box;
        margin: 60px 0 10px;
        overflow: hidden;
        background-color: $white;

        &-bar {
            float: left;
            height: 100%;
            background-color: $gray;
            transition: width .6s ease;
        }
    }

    .progress-and-submit-container {
        overflow: visible;
        max-width: $slide_width_mobile;
        width: 100%;
        margin: 0 auto;
        font-family: 'sofia_prolight';
        font-weight: bold;
        position: relative;
        z-index: 1;

        @media screen and (min-width: $breakpoint_ipad) {
            min-width: $slide_width;
        }

        .submit-container {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
        }

        .btn {
            display: inline-block;
            width: auto;
            color: $black;
            font-size: 18px;
            line-height: 24px;
            padding: 0 10px 0 0;
            background: transparent;
            justify-content: center;

            &.slide-hidden {
                color: $light_gray;
                pointer-events: none;
                cursor: default;
            }

            &.start-again {
                display: none;
            }

            &.survey-submit {
                display: none;
                position: relative;
                background: transparent;
                border: 1px solid $white !important;
                color: $white;
                font-size: 15px;
                margin: -12px 0 50px;
                padding: 0 !important;
                height: 50px;
                width: 100%;
                box-sizing: border-box;
                max-width: calc(#{$slide_width_mobile} - 40px);

                @media screen and (min-width: $breakpoint_ipad) {
                    max-width: 400px;
                }
            }

            &+.btn {
                border-left: 2px solid $black;
                padding-left: 10px;
            }
        }
    }

    .inline-field {
        display: flex;
        flex-direction: row;

        label {
            flex: 1 1 auto;

            &.radio-item {
                background: $white;
                border: 1px solid $black;
                text-align: center;
                color: $black;
                padding: 17px 0;
                font-size: 16px;

                &:hover,
                &.checked {
                    background: $black;
                    color: $white;
                }
            }
        }

        input {
            &[type="radio"] {
                display: none;
            }
        }
    }

    label.checkbox-item,
    .inline-checkbox label {
        display: none;
    }

    .inline-checkbox,
    .select-group+ {
        p.error-message {
            max-width: 400px;
            background: url(../img/icons/exclamation-black.png) no-repeat 98.5% 6px $white;
        }
    }

    .g-recaptcha>div {
        margin: 45px auto 0;
    }
}